@import "tailwindcss";

html {
  box-sizing: border-box;
  font-family: theme('fontFamily.sans');
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background-color: white;
  color: #222;
  transition: background 0.2s, color 0.2s;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #181818;
    color: #eee;
  }
}
